
.demo input[type="checkbox"]{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
}

.my-custom-scrollbar tbody {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y tbody{
display: block;
}
